<%- include("partials/header.ejs") %>

<div class="mainBody">
    <div class="container">
        <h2><%= blog.title %></h2>
        <p class="content-blog"><%= blog.content %>...</p>
            <button onclick="location.href='/edit/<%= blog.id %>'" class="btn btn-primary">Edit</a>
    </div>
</div>




<%- include("partials/footer.ejs") %>   