<%- include("partials/header.ejs") %>

<div class="mainBody">
    <div class="container">
        <h2><%= blog.title %></h2>
        <p><%= blog.content %>...</p>
            <a href="/edit/<%= blog.id %>">Edit</a>
    </div>
</div>




<%- include("partials/footer.ejs") %>   